<div class="media">
  <div class="media-left">
    <a href="#">
      <% if  conversation.originator.avatar?%>
        <%= image_tag conversation.originator.avatar_url(:thumb), class: "media-object"%>
      <% else %>
        <%= image_tag('avatar.png', size: "64x64", class:"media-object")%>
      <% end %>
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      <% if conversation.originator.username == current_user.username %>
        Yo <br>
      <% else %>
        <%= link_to conversation.originator.username, profile_path(conversation.originator) %> <br>
      <% end %>
      <small><b>Para: </b><%= conversation.participants.first.username  %></small><br>
      <small><b>Asunto: </b><%= conversation.subject %></small><br>
      <small><b>Fecha: </b><%=  conversation.messages.last.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small>
    </h4>
    <%= truncate conversation.messages.last.body, length: 145 %>
    
    
    <button type="button" class="btn btn-default btn-md pull-right">
      <%= link_to "Ver Conversación", conversation_path(conversation)  %>
    </button>
  </div>
</div>