<%= form_for :conversation, url: :conversations, html: { class: "" } do |f| %>
    <div class="form-group">
      <%= f.label :recipients, 'Usuarios:'%>
      <%= f.select(:recipients, User.all.collect {|p| [ p.name, p.id ] }, {}, { multiple: true , class: "chosen-select form-control" })%>
    </div>
    <div class="form-group">
      <%= f.label :subject , 'Asunto:' %>
      <%= f.text_field :subject, placeholder: "Escriba el asunto", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :message , 'Mensaje:'%>
      <%= f.text_area :body, class: 'form-control',placeholder: "Escribe tu mensaje acá", rows: 4  %>
    </div>

    <%= f.submit "Enviar mensaje", class: "btn btn-success" %>

<% end %>