<% @receipts.each do |receipt| %>
    <% message = receipt.message %>
    <div class="media">
      <div class="media-left">
        <!-- user avators can go here -->
        <a href="#">
          <% if  message.sender.avatar?%>
            <%= image_tag message.sender.avatar_url(:thumb), class: "media-object"%>
          <% else %>
            <%= image_tag('avatar.png', size: "64x64", class:"media-object")%>
          <% end %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <%= message.sender.username%> <br>
          <small><b>Asunto: </b><%= message.subject %></small><br>
          <small><b>Fecha: </b><%=  message.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small>
        </h4>
        <%= message.body %>
      </div>
    </div>
<% end %>