<div class="row">
  <div class="spacer"></div>
  <div class="col-md-6">
    <%= link_to "Crear Nuevo Mensaje", new_conversation_path, class: "btn btn-success" %>
  </div>
  <br>
  <div class="col-md-6 text-right">
    <% if conversation.is_trashed?(current_user) %>
        <%= link_to 'Restaurar', untrash_conversation_path(conversation), class: 'btn btn-info', method: :post %>
    <% else %>
        <%= link_to 'Eliminar', trash_conversation_path(conversation), class: 'btn btn-danger', method: :post,
                    data: {confirm: 'Se eliminara la conversacion?'} %>
    <% end %>
  </div>
</div>


 <!-- caja con mails enviados y eliminados -->


<div class="row">
  <div class="spacer"></div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'mailbox/folders' %>
      </div>
    </div>
  </div>

<!-- caja con conversaciones  -->

  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render partial: 'messages' %>
      </div>
      <div class="panel-footer">
        <!-- Reply Form -->
        <%= form_for :message, url: reply_conversation_path(conversation) do |f| %>
            <div class="form-group">
              <%= f.text_area :body, placeholder: "Escribe tu mensaje aqui", rows: 4, class: "form-control" %>
            </div>
            <%= f.submit "Enviar", class: 'btn btn-danger pull-right' %>
        <% end %>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

</div>