<%= form_for(@property) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="container">
    <div class="row">
      <div class="col-md-6 portfolio-item">

        <div class="field">
          <%= f.label :title %><br>
          <%= f.text_field :title %>
        </div>

        <div class="field">
          <%= f.label :room %><br>
          <%= f.number_field :room %>
        </div>
        <div class="field">
          <%= f.label :mt2 %><br>
          <%= f.number_field :mt2 %>
        </div>
        <div class="field">
          <%= f.label :double_bed %><br>
          <%= f.number_field :double_bed %>
        </div>
        <div class="field">
          <%= f.label :single_bed %><br>
          <%= f.number_field :single_bed %>
        </div>
        <div class="field">
          <%= f.label :cabin %><br>
          <%= f.number_field :cabin %>
        </div>
        <div class="field">
          <%= f.label :bathroom %><br>
          <%= f.number_field :bathroom %>
        </div>
        <div class="field">
          <%= f.label :description %><br>
          <%= f.text_area :description %>
        </div>
        
        <div class="field">
          <%= f.label :images %><br>
          <%= f.file_field :images %>
        </div>
        
        <div class="field">
          <%= f.label :wifi %><h1><span class="glyphicon glyphicon-signal"></span></h1> <br>
          <%= f.check_box :wifi %>
        </div>



        <div class="field">
          <%= f.label :parking %><br>
          <%= f.check_box :parking %>
        </div>
        

      </div>



      <div class="col-md-6 portfolio-item">
       
        <div class="field">
          <%= f.label :address %><br>
          <%= f.text_field :address, class: 'address_map' %>
        </div>

        <div class="field">
          <%= f.select :city_id, options_for_select(@cities.collect { |city| [city.name.titleize, city.id] }), {prompt: "Select something"}, { id: 'cities_select', class: 'city_map' } %>
        </div>

        <div id="comune_map">
           <%= f.select :comune_id, options_for_select(@comunes.collect { |comune|
          [comune.name.titleize, comune.id] }), { include_blank: true }, { id: 'comunes_select', class: 'comune_map' } %>
        </div>
        
        <div style='width: 600px;'>
         <div id="multi_markers" style='width: 500px; height: 400px;'></div>
        </div>
      </div>

    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
