  
<div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Propiedades
                    <small>texto secundario</small>
                </h1>
            </div>
        </div>
        
        <div class="row">
          <% @properties.each do |property| %>
            <div class="col-md-3 portfolio-item">
              <div class="panel panel-default">
               <div class="panel-body">
                <a href="#">
                  <% if property.images? %>
                    <%= image_tag(property.images, size: "700x400", class:"img-responsive") %>
                  <% else %>
                    <%= image_tag('casa.png', size: "700x400", class:"img-responsive")%>
                  <% end %>
                </a>
                <h3><a href=""><%= property.title %></a></h3>
                <p><%= truncate property.description, length: 40 %></p>
                
                <%= link_to 'Ver', property %>
              </div>  
            </div>
          </div>
      <% end %>
    </div>
  </div>
<!-- 
<h1>Listing Properties</h1>

<table>
  <thead>
    <tr>
      <th>Images</th>
      <th>Room</th>
      <th>Mt2</th>
      <th>Double bed</th>
      <th>Single bed</th>
      <th>Cabin</th>
      <th>Bathroom</th>
      <th>Description</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>User</th>
      <th>Comune</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <% if property.images? %>
          <td><%= image_tag(property.images, size: "250x250") %></td>
        <% else %>
          <td><%= image_tag('casa.png', size: "250x250")  %></td>
        <% end %>
        <td><%= property.room %></td>
        <td><%= property.mt2 %></td>
        <td><%= property.double_bed %></td>
        <td><%= property.single_bed %></td>
        <td><%= property.cabin %></td>
        <td><%= property.bathroom %></td>
        <td><%= property.description %></td>
        <td><%= property.address %></td>
        <td><%= property.latitude %></td>
        <td><%= property.longitude %></td>
        <td><%= property.user %></td>
        <td><%= property.comune %></td>
        <td><%= link_to 'Show', property %></td>

        <% if can? :update, property %>
          <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <% end %>

        <% if can? :destroy, property %>
          <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table> -->

