
<p>
  <strong>Titulo:</strong>
  <%= @property.title %>
</p>

<p>
  <strong>Room:</strong>
  <%= @property.room %>
</p>

<p>
  <strong>Mt2:</strong>
  <%= @property.mt2 %>
</p>

<p>
  <strong>Double bed:</strong>
  <%= @property.double_bed %>
</p>

<p>
  <strong>Single bed:</strong>
  <%= @property.single_bed %>
</p>

<p>
  <strong>Cabin:</strong>
  <%= @property.cabin %>
</p>

<p>
  <strong>Bathroom:</strong>
  <%= @property.bathroom %>
</p>

<p>
  <strong>Description:</strong>
  <%= @property.description %>
</p>

<p>
  <strong>Images:</strong>
  <p>
    <%= image_tag(@property.images) if @property.images? %>
  </p>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @property.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @property.longitude %>
</p>

<p>
  <strong>User:</strong>
  <%= @property.user %>
</p>

<p>
  <strong>Comune:</strong>
  <%= @property.comune %>
</p>

<div style='width: 600px;'>
   <div id="map" style='width: 500px; height: 400px;'></div>
  </div>
</div>


<% if can? :update, @property %>
  <%= link_to 'Edit', edit_property_path(@property) %> |
<% end %>
<% if can? :destroy, @property %>
  <%= link_to 'Destroy', @property, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', properties_path %>


<div>
<% if can? :create, Review %>
  <h2 class="display-4 m-t-1 m-b-1">Deja tu review</h2>
  <div class="row">
      <%= render partial: 'reviews/form' %>
  </div>
<% end %>
  
  <% if @property.reviews.any? %>
  <h2 class="display-4 m-t-1 m-b-1">Reviews (<%= @property.reviews.size %>)</h2>
  <%= render partial: 'reviews/review', collection: @reviews %>
<% end %>
  
</div>