<%= form_for [@property, Review.new], html: {class: 'col-md-6'} do |f| %>
	<div class="form-group">
		<%= f.label :content, "Review" %>
		<%= f.text_area :content, rows: 8,  class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.submit "Enviar", class: 'btn btn-success' %>
	</div>
<% end %>