var handler = Gmaps.build('Google');
handler.buildMap({
	provider: {},
	internal: {
		id: 'multi_markers'
	}
}, function() {
	var markers = handler.addMarkers(<%= raw @markers.to_json %>);
	var marker = handler.addMarker(<%= raw @marker.to_json %>);
	handler.map.centerOn(marker);
	handler.bounds.extendWith(markers);
	handler.fitMapToBounds();
});