<!DOCTYPE html>
<html>
<head>
  <title>Depa</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script> 
	<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
	<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->
</head>
<body>
  <%= render "shared/navbar" %>
<br>
<br>
  <% flash.each do |key, value| %>
    <div class="text-center <%= flash_class(key) %>">
      <%= value %>
    </div>
  <% end %>

  <div id="wrapper" class="toggled">
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand">
					<a href="#">titulo</a>
				</li>
				<li>
					<a href="#">asdads</a>
				</li>
				
			</ul>
			
		</div>

		<div id="page-content-wrapper">
			<div class="container-fluid">
				<%= yield %>
			</div>
				
		</div>	
	</div>


	<script>$("#menu-toggle").click(function(e) {
        e.preventDefault();
		$("#wrapper").toggleClass("toggled");
    });</script>


  <script>
  	markers = handler.addMarkers(<%=raw @hash.to_json %>);
	</script>



</body>
</html>
